.vscode/
tmp/
.mypy_cache/
.ruff_cache/
__pycache__/
reports/
artifacts
.idea/
dist/
.python-version
.ipynb_checkpoints
app/MCQA.egg-info

# data
/data

# local mlruns
mlruns*

# Project meta
INSTRUCTIONS.md